<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="com.sfl.coolmonkey.notifications.api.client.rest.*"/>

    <bean id="notificationsmsApiPath" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${ms.notifications.url}"/>
    </bean>

    <bean id="emailResourceClient"
          class="com.sfl.coolmonkey.notifications.api.client.rest.email.impl.EmailResourceClientImpl">
        <constructor-arg name="client" ref="jerseyClient"/>
        <constructor-arg name="apiPath" ref="notificationsmsApiPath"/>
    </bean>
</beans>